body { background-color: #fff; }

table {
  background-color: #fff;
}

td, #next {
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
  background-color: #ffe;
}

.x { background-color: #eff; }
.o { background-color: #fef; }

p  {
  font-family: fantasy;
  text-align: center;
  max-height: 100px;
  font-size: 100px;
  overflow: hidden;
  margin: -40px 0px 0px;
}

#next {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 2px 0px;
  padding: 1px;
}
